<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Блог{% endblock %}</title>
       <style>
         body {
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
            background-color: lightblue;
            color: black;
        }
        h1 {
            text-align: center;
            color: black;
            padding: 10px;
        }
        h2 {
            text-align: center;
            color: black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Мой Блог</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'post_list' %}">Список постов</a></li>
                <li><a href="{% url 'post_create' %}">Создать пост</a></li> <!-- Ссылка на создание поста -->
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Вход</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>